@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --btnColor: #d6fce9;
    --btnText: #389265;
    --btnDisabled: #f0f0f0;
    --btnDisabledText:#c2c2c2;
}

html, body{
    font-family: 'Open Sans', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.productName{
    margin-left: 160px;
}
.product{
    border: 1px solid #fff;
    margin: 15px;
    padding: 15px;
    min-height: 145px;
    position: relative;
}

.product img{
    float: left;
}

.quantity{
    margin-left: 160px;
    font-style: italic;
    color: var(--btnColor);
    padding-bottom: 15px;
}

.price{
    position: absolute;
    right: 0px;
    bottom: 15px;
    right: 15px;
}
#number {
    position: absolute;
    bottom: 15px;
    padding: .7rem 2rem;
    text-align: center;
    font-size: 16px;
    min-width: 42.3px;
    max-width: 42.3px;
    margin-left: 15px;
}

#incBtn {
    position: absolute;
    bottom: 21px;
    left: 182px;
}

#decBtn {
    position: absolute;
    bottom: 21px;
    left: 247px;
}

#incBtn,
#decBtn {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    border: none;
    background-color: var(--btnColor);
    color: var(--btnText);
    font-size: 16px;
    font-weight: bold;
}

#incBtn:hover,
#decBtn:hover {
    cursor: pointer;
}

#incBtn:disabled,
#decBtn:disabled {
    background-color: var(--btnDisabled);
    color: var(--btnDisabledText);
}